/*@font-face {*/
    /*font-family: 'FontAwesome';*/
    /*src: url('../fonts/FontAwesome.otf') format('truetype');*/
/*}*/

/*@font-face {*/
    /*font-family: 'fontawesome-webfront';*/
    /*src: url('../fonts/fontawesome-webfont.eot') format('truetype');*/
/*}*/
@font-face {
    font-family: 'slick';
    src: url('../fonts/slick.svg') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'fontawesome-webfont';
    src: url('../fonts/fontawesome-webfont.svg') format('truetype');
    font-weight: normal;
}
/*@font-face {*/
    /*font-family: 'fontawesome-webfont';*/
    /*src: url('../fonts/fontawesome-webfont.ttf') format('truetype');*/
/*}*/
/*@font-face {*/
    /*font-family: 'fontawesome-webfont';*/
    /*src: url('../fonts/fontawesome-webfont.woff') format('truetype');*/
/*}*/
/*@font-face {*/
    /*font-family: 'fontawesome-webfont';*/
    /*src: url('../fonts/fontawesome-webfont.woff2') format('truetype');*/
/*}*/

/*@font-face {*/
    /*font-family: 'slick';*/
    /*src: url('../fonts/slick.eot') format('truetype');*/
/*}*/

